h1 {
    color: aqua;
}

.outer {
    text-align: center;
}

.shadowbox {
    height: 100%;
    background-color: aliceblue;
    font-size: 30px;
    text-align: center;
    text-shadow: 0px 0px 10px black;
}

.oya {

    width: 700px;
    ;
    /* 幅指定 */
    display: inline-block;
    /* インラインブロック要素にする */
    vertical-align: bottom;
    /* 要素を上揃えにする */
    margin-bottom: 10px;
    /* 要素同士の隙間調整 */
    padding: 10px;
    /* 余白指定 */



}

body {
    background-image: url("https://github.com/taniguchi-haruto/taniguchi-haruto.fnd23/blob/main/1d4f05c18b01401fdf90c274af393c6c.gif?raw=true");
    background-size: calc(100%);
    text-align: center;

}

#p {
    font-size: 150%;
    text-align: left;
    float: left;
    text-shadow: 0px 0px 30px #5655b3;
}

#n {
    font-size: 250%;
    text-align: center;
}

.syashin {
    text-align: center;
}

ul {
    list-style: none;
}

#zigazou {
    width: 100%;
  
}

#haikei {
    background-color: cornsilk;
}

#button1 {
    width: 20px;
    height: 20px;
    background: transparent;
    border: 0;
}

#button2 {
    width: 20px;
    height: 20px;
    background: transparent;
    border: 0;
}

#lastButton {
    width: 50px;
    height: 50px;
    border: 0;
    background: transparent;
}

.mondai {
    width: 2000px;
    height: 1500px;
    display: inline-block;
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
}

#mondaibotan {
    font-size: 100px;
    width: auto;
    height: auto;
    background: rgb(241, 243, 245);
    border:#5655b3;
}

#neko {
    text-align: right;
}
