h1 {
    color: aqua;
    height: 100%;
    background-color: aliceblue;
    font-size: 50px;
    text-align: center;
    text-shadow: 0px 0px 10px black;
}



.oya {
    width: auto;
    display: inline-block;
    vertical-align: bottom;
    margin-bottom: 10px;
    padding: 10px;

}

.oya2 {
    display: inline-block;
    text-align: left;
    width: 600px;
    height: 1000px;
    margin: 10px;
}

body {
    background: url("./main/背景.gif");
    background-size: calc(100%);
    background-attachment: fixed;
    text-align: center;

}

#p {
    font-size: 150%;
    text-align: left;
    float: left;
    text-shadow: 0px 0px 30px #5655b3;
}

#n {
    font-size: 250%;
    text-align: center;
}

.syashin {
    text-align: center;
}

ul {
    list-style: none;
}

#zigazou {
    width: 100%;

}

#haikei {
    background-color: cornsilk;
    margin: auto;
}

#haikei2 {
    background-color: rgb(52, 251, 2);
    margin: auto;
}

#haikei3 {
    background-color: rgb(204, 233, 43);
    margin: auto;
}

#haikei4 {
    background-color: rgb(255, 255, 255);
    margin: auto;
}

#button1 {
    width: 20px;
    height: 20px;
    background: transparent;
    border: 0;
}

#button2 {
    width: 20px;
    height: 20px;
    background: transparent;
    border: 0;
}

#lastButton {
    width: 50px;
    height: 50px;
    border: 0;
    background: transparent;
}


#resetButton {
    font-size: auto;

    width: 100px;
    height: 50px;
    background: rgb(241, 243, 245);
    border: #5655b3;
}

#neko {
    text-align: right;
}

#geme {
    width: 200px;
    height: 100px;
    font-size: larger;

}

#kakekko {
    font-size: 50px;
    color: cyan;
}

.gemeOya {
    width: 3000px;
    height: 1300px;
    text-align: center;
    margin: auto;
    display: inline-table;
}

#re-su {
    background-size: 1500px;
    background-image: url("./re-sukaizyou.jpg");
    width: "3000px";
    height: "1317px";
}

#re-su1 {
    font-size: 60px;


}

#re-su2 {
    font-size: 60px;
}

#re-su3 {
    font-size: 60px;
}

#re-su4 {
    font-size: 60px;
}

.typing {
    height: 900px;
    width: auto;
    display: inline-flex;
    transition-duration: 0.5s;
}
.imgTyping {
    transition-duration: 0.5s;
}
.imgTyping:hover {
    overflow: hidden;
    text-align: center;
    z-index: 99;
    transform: translate(-50%,-50%);
    transform:scaleX(20);
    cursor:pointer;
}
